.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    outline: none;

    .favouriteBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
    }
  }

  .poster,
  .noPoster {
    width: 100%;
    height: 351px;
    object-fit: cover;
  }

  .noPoster {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #555;
  }

  .link {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.favouriteBtnModal {
  border: 0px solid transparent;
  padding: 20px;
  color: white;
  background-color: #282828;
  cursor: pointer;
}
