* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}
